#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
#nav
{
    float: left;
}
#content
{
    float: left;
}
#ad
{
    float: left;
}
#footer
{
    clear: both;
}